<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>代理服务管理系统</title>
    <th:block th:include="admin/common/include::head" />
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/iCheck/square/blue.css}"/>
    <!-- FastClick -->
    <script type="text/javascript" th:src="@{/plugins/fastclick/fastclick.js}"></script>
    <!-- SlimScroll -->
    <script type="text/javascript" th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
    <!-- iCheck -->
    <script type="text/javascript" th:src="@{/plugins/iCheck/icheck.min.js}"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" th:src="@{/dist/js/app.min.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/layer/skin/default/layer.css}"></script>
    <script type="text/javascript" th:src="@{/js/global.js}"></script>
</head>
</html>